flows.json
[
    {
        "id": "a4054732959ec832",
        "type": "tab",
        "label": "Flux R+6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ff08e28898bbc662",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Coupure clim F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "60",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 860,
        "y": 20,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a6ba6ad0585880fb",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/11",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "coupure clim Bureau F09bis",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "d6458ea8dec0eb03"
            ]
        ]
    },
    {
        "id": "d6458ea8dec0eb03",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 40,
        "wires": [
            [
                "ff08e28898bbc662",
                "83c1d7baa6a13a59"
            ]
        ]
    },
    {
        "id": "db3aea232b0e7b19",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Coupure clim F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "61",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 850,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f040e3c9c98a7ccb",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/12",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Coupure clim Bureau F09",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "06c3c32a49b5c176"
            ]
        ]
    },
    {
        "id": "06c3c32a49b5c176",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "db3aea232b0e7b19",
                "3b190223dd97ed30"
            ]
        ]
    },
    {
        "id": "ec95f50220b56973",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Coupure clim F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "62",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 850,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "01b6f13ecddac303",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/17",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "coupure clim Bureau F06a",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "3a0c3f9816013630"
            ]
        ]
    },
    {
        "id": "3a0c3f9816013630",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "ec95f50220b56973",
                "2b11b22b84074702"
            ]
        ]
    },
    {
        "id": "006aaed5c3b0d9a7",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Coupure clim F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "63",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 850,
        "y": 880,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "597f7ef3ec0a92c5",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/22",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "coupure clim Bureau F11",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "b1f1b5018f2aed56"
            ]
        ]
    },
    {
        "id": "b1f1b5018f2aed56",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 900,
        "wires": [
            [
                "006aaed5c3b0d9a7",
                "f452aec005fde813"
            ]
        ]
    },
    {
        "id": "a9a74b4fd43b63cb",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/7",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence Bureau F09bis",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "273886409864a1bd"
            ]
        ]
    },
    {
        "id": "273886409864a1bd",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Présence Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "10",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "55056c6b21f609b6",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Luminosité Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "928b44c8946c5c07",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/23",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité Bureau F09bis",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "55056c6b21f609b6"
            ]
        ]
    },
    {
        "id": "e6387f32d7df57b2",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 3 registres Bureau F09bis",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "7ce8b70d98f3f0fc"
            ],
            []
        ]
    },
    {
        "id": "7ce8b70d98f3f0fc",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/8\",  // tempo eclairage\n        dpt: \"7.006\"      \n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/18\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/10\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "8caba1b72ea5782f"
            ],
            [
                "f9eb3a43c28f5d83"
            ],
            [
                "b55912adbb698a7f"
            ]
        ]
    },
    {
        "id": "8caba1b72ea5782f",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/8",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 860,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f9eb3a43c28f5d83",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/18",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b55912adbb698a7f",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c3497cbecc6ff14f",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Coupure clim F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "64",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 850,
        "y": 1160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "932710e14d7d332c",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/27",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Coupure clim Bureau F04",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 150,
        "y": 1180,
        "wires": [
            [
                "1c967f2bcc330e61"
            ]
        ]
    },
    {
        "id": "1c967f2bcc330e61",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1180,
        "wires": [
            [
                "c3497cbecc6ff14f",
                "4b3569d1cf9e16fa"
            ]
        ]
    },
    {
        "id": "8a66b0ecdfc349c0",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/13",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence Bureau F09",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "675e70c30b558f36"
            ]
        ]
    },
    {
        "id": "675e70c30b558f36",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Présence Bureau F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "20",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7a111043b3d050cc",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Luminosité Bureau F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 450,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dfe320c055ac441c",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/12",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité Bureau F09",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "7a111043b3d050cc"
            ]
        ]
    },
    {
        "id": "e39973e0a805a8b7",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 3 registres Bureau F09",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "21",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "d66bed27db9f377b"
            ],
            []
        ]
    },
    {
        "id": "d66bed27db9f377b",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/14\",  // tempo eclairage\n        dpt: \"7.006\"      \n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/19\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/16\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "14248a4eb91aedd6"
            ],
            [
                "ab9b382ea23da13b"
            ],
            [
                "0bb0f6d3db2981b0"
            ]
        ]
    },
    {
        "id": "14248a4eb91aedd6",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/14",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 860,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ab9b382ea23da13b",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/19",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 870,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0bb0f6d3db2981b0",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/16",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 850,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b4af86fde719b963",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/18",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence Bureau F06a",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "da47fe89aae1065b"
            ]
        ]
    },
    {
        "id": "da47fe89aae1065b",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Présence Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "30",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 450,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ac030431d92c2cb7",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Luminosité Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "30",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 450,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d1bb88f855b0f053",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/11",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité Bureau F06a",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "ac030431d92c2cb7"
            ]
        ]
    },
    {
        "id": "d053287f94e9dc30",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 3 registres Bureau F06a",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "31",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "e8cb8f4b4178a3ba"
            ],
            []
        ]
    },
    {
        "id": "e8cb8f4b4178a3ba",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/19\",  // tempo eclairage\n        dpt: \"7.006\"\n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/20\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/21\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 800,
        "wires": [
            [
                "fcd6f6794d148dda"
            ],
            [
                "6d89ee133cd141ab"
            ],
            [
                "c22956e1c54dfd6f"
            ]
        ]
    },
    {
        "id": "fcd6f6794d148dda",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/19",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 860,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6d89ee133cd141ab",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/20",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 870,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c22956e1c54dfd6f",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/21",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 850,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ad872a6b2fac2cdd",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/23",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence Bureau F11",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 960,
        "wires": [
            [
                "68835ac3112433b8"
            ]
        ]
    },
    {
        "id": "68835ac3112433b8",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Présence Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "40",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 960,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "932562e5fede29c1",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Luminosité Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 450,
        "y": 1020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "64da0cc8193e07a8",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité Bureau F11",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "932562e5fede29c1"
            ]
        ]
    },
    {
        "id": "f365b33c0547c0aa",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 3 registres Bureau F11",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "41",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "b8e2f699df76b565"
            ],
            []
        ]
    },
    {
        "id": "b8e2f699df76b565",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/24\",  // tempo eclairage\n        dpt: \"7.006\"\n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/21\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/26\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "80b0e4dd04ee4b1f"
            ],
            [
                "06c7dd7069782456"
            ],
            [
                "15eb3d3167fe41f0"
            ]
        ]
    },
    {
        "id": "80b0e4dd04ee4b1f",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/24",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 860,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "06c7dd7069782456",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/21",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 870,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "15eb3d3167fe41f0",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/26",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 850,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "5464208f7a21f6ee",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/28",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence Bureau F04",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "d907a79e07d34843"
            ]
        ]
    },
    {
        "id": "d907a79e07d34843",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Présence Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "50",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 1240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ec45ddff44d93368",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Luminosité Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "50",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 450,
        "y": 1300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b0cc34bedb65f227",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/9",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité Bureau F04",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "ec45ddff44d93368"
            ]
        ]
    },
    {
        "id": "df79bc0480297a1e",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 3 registres Bureau F04",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "51",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 1360,
        "wires": [
            [
                "ba9467fc72442947"
            ],
            []
        ]
    },
    {
        "id": "ba9467fc72442947",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/29\",  // tempo eclairage\n        dpt: \"7.006\"      \n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/22\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/31\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1360,
        "wires": [
            [
                "4c830bf4535cd2b6"
            ],
            [
                "869fbc02e6dd32a7"
            ],
            [
                "23c54dd78acff371"
            ]
        ]
    },
    {
        "id": "4c830bf4535cd2b6",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/29",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 860,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "869fbc02e6dd32a7",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/22",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 870,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "23c54dd78acff371",
        "type": "knxUltimate",
        "z": "a4054732959ec832",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/31",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 850,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "55690c99d4553beb",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 680,
        "wires": [
            [
                "233cc3d6ead778cf"
            ],
            [
                "3c4caa91ba5e3686"
            ],
            [
                "405fab96204b34e7"
            ],
            [
                "ea1e4e72cd260e48"
            ],
            [
                "4a2ac3914f3ae7a2"
            ],
            [
                "24e0b319b79b7ab3"
            ]
        ]
    },
    {
        "id": "233cc3d6ead778cf",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Marche Clim Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3c4caa91ba5e3686",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Mode Clim Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "35",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "405fab96204b34e7",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne Clim Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "36",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1990,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ea1e4e72cd260e48",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ventil Clim Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "37",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4a2ac3914f3ae7a2",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne mini Clim Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "38",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "24e0b319b79b7ab3",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Temp reprise Clim Bureau F06a",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "39",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "896bc040dddcc005",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 15 registres Bureau F06a",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "227",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "55690c99d4553beb"
            ],
            []
        ]
    },
    {
        "id": "759e03ea7e559ce8",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 960,
        "wires": [
            [
                "38748e7394ae5d29"
            ],
            [
                "efd7c880ad4d1a28"
            ],
            [
                "36c7224b6e0cf928"
            ],
            [
                "a5cd941b7db50835"
            ],
            [
                "1222ff00b6a75027"
            ],
            [
                "e5eea781231bdfa3"
            ]
        ]
    },
    {
        "id": "38748e7394ae5d29",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Marche Clim Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "44",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1970,
        "y": 900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "efd7c880ad4d1a28",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Mode Clim Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "45",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1970,
        "y": 940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "36c7224b6e0cf928",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne Clim Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "46",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a5cd941b7db50835",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ventil Clim Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "47",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1970,
        "y": 1020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1222ff00b6a75027",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne mini Clim Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "48",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1990,
        "y": 1060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e5eea781231bdfa3",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Temp reprise Clim Bureau F11",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "49",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1990,
        "y": 1100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2d56250631f4b56a",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 15 registres Bureau F11",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "302",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 1220,
        "y": 960,
        "wires": [
            [
                "759e03ea7e559ce8"
            ],
            []
        ]
    },
    {
        "id": "b15074051d371582",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1240,
        "wires": [
            [
                "57779af79a212da7"
            ],
            [
                "cb97d9c9c9f1f982"
            ],
            [
                "e8bba647315a6dfc"
            ],
            [
                "c56754f6cb2c73a8"
            ],
            [
                "3c2401d7b92145ed"
            ],
            [
                "0ab7fec20bf2a039"
            ]
        ]
    },
    {
        "id": "57779af79a212da7",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Marche Clim Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "54",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 1180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cb97d9c9c9f1f982",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Mode Clim Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "55",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 1220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e8bba647315a6dfc",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne Clim Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "56",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2010,
        "y": 1260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c56754f6cb2c73a8",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ventil Clim Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "57",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 1300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3c2401d7b92145ed",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne mini Clim Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "58",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2020,
        "y": 1340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0ab7fec20bf2a039",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Temp reprise Clim Bureau F04",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "59",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2020,
        "y": 1380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d83a35bd443c4250",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 15 registres Bureau F04",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "327",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 1220,
        "y": 1240,
        "wires": [
            [
                "b15074051d371582"
            ],
            []
        ]
    },
    {
        "id": "1d617714c876b263",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 400,
        "wires": [
            [
                "7e7ec27a7db7b649"
            ],
            [
                "59aee76c43c7d725"
            ],
            [
                "ba64a0f2cfd2a7a1"
            ],
            [
                "3e16dd5a1805f113"
            ],
            [
                "d8ac858a0576938c"
            ],
            [
                "f9b92af54629e4e5"
            ]
        ]
    },
    {
        "id": "7e7ec27a7db7b649",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Marche Clim Bureau F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "24",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "59aee76c43c7d725",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Mode Clim Bureau2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "25",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ba64a0f2cfd2a7a1",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne Clim Bureau F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "26",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1990,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3e16dd5a1805f113",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ventil Clim Bureau F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "27",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d8ac858a0576938c",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne mini Clim Bureau F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "28",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f9b92af54629e4e5",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Temp reprise Clim Bureau F09",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "29",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0d6d537613c6a735",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 15 registres Bureau F09",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "877",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 1230,
        "y": 400,
        "wires": [
            [
                "1d617714c876b263"
            ],
            []
        ]
    },
    {
        "id": "02b250eb9c96e1bd",
        "type": "function",
        "z": "a4054732959ec832",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 100,
        "wires": [
            [
                "457d95d7c4691a9c"
            ],
            [
                "c4f1300ef4fbfd75"
            ],
            [
                "bd3b1222f47bcdf3"
            ],
            [
                "e8cb3483c437d5a2"
            ],
            [
                "cb8f882cca550726"
            ],
            [
                "111dff72dd927459"
            ]
        ]
    },
    {
        "id": "457d95d7c4691a9c",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Marche Clim Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bd3b1222f47bcdf3",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne Clim Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "16",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1990,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cb8f882cca550726",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Consigne mini Clim Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "111dff72dd927459",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Temp reprise Clim Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "19",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2000,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "743e41bc5779dcb1",
        "type": "modbus-read",
        "z": "a4054732959ec832",
        "name": "Lecture Modbus 15 registres Bureau F09bis",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "127",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 1230,
        "y": 100,
        "wires": [
            [
                "02b250eb9c96e1bd"
            ],
            []
        ]
    },
    {
        "id": "83c1d7baa6a13a59",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ecriture adresses 127",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "127",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 860,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3b190223dd97ed30",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ecriture adresses 877",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "877",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 860,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2b11b22b84074702",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ecriture adresses 227",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "227",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 860,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f452aec005fde813",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ecriture adresses 302",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "302",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 860,
        "y": 920,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4b3569d1cf9e16fa",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ecriture adresses 327",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "327",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 860,
        "y": 1200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c4f1300ef4fbfd75",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Mode Clim Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e8cb3483c437d5a2",
        "type": "modbus-write",
        "z": "a4054732959ec832",
        "name": "Ventil Clim Bureau F09bis",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "17",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1980,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "247636eb43d0af05",
        "type": "modbus-client",
        "name": "Serveur modbus passerelle",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "1502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "dc1f53e2fc56ad70",
        "type": "knxUltimate-config",
        "host": "10.249.4.182",
        "port": 3671,
        "physAddr": "1.1.200",
        "hostProtocol": "TunnelUDP",
        "suppressACKRequest": true,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "stopETSImportIfNoDatapoint": "fake",
        "loglevel": "error",
        "name": "KNX Gateway",
        "delaybetweentelegrams": 25,
        "ignoreTelegramsWithRepeatedFlag": false,
        "autoReconnect": "yes"
    },
    {
        "id": "b6c58d9a505c9baa",
        "type": "modbus-client",
        "name": "Passerelle clim Gree",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.249.4.181",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "52f9985e220e3a3c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-contrib-knx-ultimate": "4.0.29"
        }
    }
]
