flows.json
[
    {
        "id": "eb0c2330629d9ddf",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b19903d0408fcad8",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Coupure clim 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "60",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 700,
        "y": 20,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "38d4803cef75330f",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/11",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "coupure clim bureau 1",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "d0c8fa89c988ab0a"
            ]
        ]
    },
    {
        "id": "d0c8fa89c988ab0a",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 40,
        "wires": [
            [
                "b19903d0408fcad8",
                "a7a88ef6cce7e54a"
            ]
        ]
    },
    {
        "id": "54d0a576d15079b2",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Coupure clim 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "61",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 700,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "58249426ea294436",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/12",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Coupure clim bureau 2",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "be8a1cb37bbc96ac"
            ]
        ]
    },
    {
        "id": "be8a1cb37bbc96ac",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "54d0a576d15079b2",
                "0e4edf681ffc4c1a"
            ]
        ]
    },
    {
        "id": "15f83a076dd9ae9d",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Coupure clim 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "62",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 700,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2698dc67a3bb1ba6",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/17",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "coupure clim bureau 3",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "837057c44e62cdec"
            ]
        ]
    },
    {
        "id": "837057c44e62cdec",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "15f83a076dd9ae9d",
                "ecbfdb17cdb62c38"
            ]
        ]
    },
    {
        "id": "4134de5e988ef106",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Coupure clim 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "63",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 700,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "854f596271d851eb",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/22",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "coupure clim bureau 4",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "08ffe2ccfbd5ee7c"
            ]
        ]
    },
    {
        "id": "08ffe2ccfbd5ee7c",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "4134de5e988ef106",
                "4b00ae7da45c959f"
            ]
        ]
    },
    {
        "id": "eb7014b58f55237e",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/7",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence bureau 01",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "74a8705968e434ad"
            ]
        ]
    },
    {
        "id": "74a8705968e434ad",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Présence bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "10",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 430,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9596bafcc28875a9",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Luminosité bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8eb5d8497c281ecd",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/23",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité bureau 1",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "9596bafcc28875a9"
            ]
        ]
    },
    {
        "id": "modbus-read-multi",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 3 registres bureau 1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "11",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "function-split-values"
            ],
            []
        ]
    },
    {
        "id": "function-split-values",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/8\",  // tempo eclairage\n        dpt: \"7.006\"      \n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/18\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/10\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "knx1"
            ],
            [
                "knx2"
            ],
            [
                "knx3"
            ]
        ]
    },
    {
        "id": "knx1",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/8",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "knx2",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/18",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1510,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "knx3",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1490,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "20512838d6ff3dd8",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Coupure clim 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "64",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 700,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2a1226fb72ba1a11",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/27",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Coupure clim bureau 05",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "404d71cd22cf08c6"
            ]
        ]
    },
    {
        "id": "404d71cd22cf08c6",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Conversion",
        "func": "// msg.payload contient un booléen venant de KNX : true ou false\n\nif (msg.payload === false) {\n    // Seulement si false → écrire 85\n    msg.payload = [85];\n    return msg;\n} else {\n    // Si true → ne rien envoyer\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "20512838d6ff3dd8",
                "76e0e582cf04a7c3"
            ]
        ]
    },
    {
        "id": "fe39379e9931cf9d",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/13",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence bureau 02",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "a86d7d748ab77a4d"
            ]
        ]
    },
    {
        "id": "a86d7d748ab77a4d",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Présence bureau 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "20",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 430,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3ab0a03442d8484d",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Luminosité bureau 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9eb72f7560c4e1a2",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/12",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité bureau 2",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "3ab0a03442d8484d"
            ]
        ]
    },
    {
        "id": "6ec0ae8c75d452af",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 3 registres bureau 2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "21",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "27a442acd96b5d6e"
            ],
            []
        ]
    },
    {
        "id": "27a442acd96b5d6e",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/14\",  // tempo eclairage\n        dpt: \"7.006\"      \n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/19\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/16\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "0aa653815a35e404"
            ],
            [
                "aad711330ce91ef9"
            ],
            [
                "8a38c53dbfba74f5"
            ]
        ]
    },
    {
        "id": "0aa653815a35e404",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/14",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1500,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "aad711330ce91ef9",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/19",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1510,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "8a38c53dbfba74f5",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/16",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1490,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e8cb7b8ac3b16aa7",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/18",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence bureau 03",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "a845f64fb88b44e5"
            ]
        ]
    },
    {
        "id": "a845f64fb88b44e5",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Présence bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "30",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 430,
        "y": 720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "48200b69e1667dc6",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Luminosité bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "30",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "72dfef65945686ea",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/11",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité bureau 3",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "48200b69e1667dc6"
            ]
        ]
    },
    {
        "id": "fd61cd0803b9f270",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 3 registres bureau 3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "31",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 740,
        "y": 720,
        "wires": [
            [
                "fa2aae44042287c4"
            ],
            []
        ]
    },
    {
        "id": "fa2aae44042287c4",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/19\",  // tempo eclairage\n        dpt: \"7.006\"\n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/20\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/21\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 720,
        "wires": [
            [
                "92acd56414f30d7b"
            ],
            [
                "d3616e7da86eada5"
            ],
            [
                "9bf001df4eb83472"
            ]
        ]
    },
    {
        "id": "92acd56414f30d7b",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/19",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1500,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d3616e7da86eada5",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/20",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1510,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9bf001df4eb83472",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/21",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1490,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "70a27dfbfe23f488",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/23",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence bureau 04",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 900,
        "wires": [
            [
                "f3a9fe850c7b0652"
            ]
        ]
    },
    {
        "id": "f3a9fe850c7b0652",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Présence bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "40",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 430,
        "y": 900,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f8c619d6cd2c31b3",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Luminosité bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 960,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c75ae5b794f8b62c",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité bureau 4",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 960,
        "wires": [
            [
                "f8c619d6cd2c31b3"
            ]
        ]
    },
    {
        "id": "11ad0f0e8e974e52",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 3 registres bureau 4",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "41",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 740,
        "y": 900,
        "wires": [
            [
                "758bd22b2d420577"
            ],
            []
        ]
    },
    {
        "id": "758bd22b2d420577",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/24\",  // tempo eclairage\n        dpt: \"7.006\"\n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/21\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/26\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 900,
        "wires": [
            [
                "d7c5fb886bd39afc"
            ],
            [
                "c27a3c38d30360f3"
            ],
            [
                "a6bd905b11aa5883"
            ]
        ]
    },
    {
        "id": "d7c5fb886bd39afc",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/24",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1500,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c27a3c38d30360f3",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/21",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1510,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a6bd905b11aa5883",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/26",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1490,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "169e2996c2fcbd58",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/28",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Présence bureau 05",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "e1b9f29e03b0f5c0"
            ]
        ]
    },
    {
        "id": "e1b9f29e03b0f5c0",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Présence bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "50",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 430,
        "y": 1080,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f9ddd839531dcbba",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Luminosité bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "50",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 440,
        "y": 1140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "385aa29a7e1ef691",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/9",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Luminosité bureau 5",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "f9ddd839531dcbba"
            ]
        ]
    },
    {
        "id": "d67b06b70ff92eee",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 3 registres bureau 5",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "51",
        "quantity": "3",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 740,
        "y": 1080,
        "wires": [
            [
                "317226a2dbc29fc2"
            ],
            []
        ]
    },
    {
        "id": "317226a2dbc29fc2",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres en messages KNX",
        "func": "// msg.payload est un tableau des registres lus\nlet registers = msg.payload;\n\n// Crée un tableau de 3 messages pour KNX avec payload et topic/dpt adaptés\nlet msg1 = [\n    {\n        payload: registers[0],\n        topic: \"6/7/29\",  // tempo eclairage\n        dpt: \"7.006\"      \n    },\n]\nlet msg2 = [\n    {\n        payload: registers[1],\n        topic: \"6/5/22\", // Consigne luminosité\n        dpt: \"9.004\"\n    },\n]\nlet msg3 = [\n    {\n        payload: registers[2],\n        topic: \"6/7/31\", // tempo clim\n        dpt: \"7.006\"\n    }\n];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1080,
        "wires": [
            [
                "6810bca3e2b3b42a"
            ],
            [
                "77eafef68f2e5a09"
            ],
            [
                "c46f50fe47055850"
            ]
        ]
    },
    {
        "id": "6810bca3e2b3b42a",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/29",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1500,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "77eafef68f2e5a09",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/5/22",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "9.004",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Consigne eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1510,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "c46f50fe47055850",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/31",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "7.006",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Tempo Clim",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 1490,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "e4946d855a9563a6",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1780,
        "wires": [
            [
                "f8d4d82ded51b561"
            ],
            [
                "c1b92712588a42e1"
            ],
            [
                "e6df2a58e164b61e"
            ],
            [
                "cfb9ee85b0b383f7"
            ],
            [
                "f2107245516e4553"
            ],
            [
                "158acb3e7553268e"
            ]
        ]
    },
    {
        "id": "f8d4d82ded51b561",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Marche Clim Bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "34",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c1b92712588a42e1",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Mode Clim Bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "35",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e6df2a58e164b61e",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne Clim Bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "36",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 1800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cfb9ee85b0b383f7",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ventil Clim Bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "37",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f2107245516e4553",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne mini Clim Bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "38",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 1880,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "158acb3e7553268e",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Temp reprise Clim Bureau 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "39",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 1920,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "280ffee02a221975",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 15 registres bureau 3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "227",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1780,
        "wires": [
            [
                "e4946d855a9563a6"
            ],
            []
        ]
    },
    {
        "id": "bae60e6aaebbfc08",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2060,
        "wires": [
            [
                "7dd081c006b2994f"
            ],
            [
                "7e2073b375d61075"
            ],
            [
                "48df0a4cd408c381"
            ],
            [
                "6f5146c7f71cdd19"
            ],
            [
                "a254b35992fabfe2"
            ],
            [
                "1bf583f410cd089b"
            ]
        ]
    },
    {
        "id": "7dd081c006b2994f",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Marche Clim Bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "44",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7e2073b375d61075",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Mode Clim Bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "45",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2040,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "48df0a4cd408c381",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne Clim Bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "46",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 2080,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6f5146c7f71cdd19",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ventil Clim Bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "47",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a254b35992fabfe2",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne mini Clim Bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "48",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 2160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1bf583f410cd089b",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Temp reprise Clim Bureau 4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "49",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 2200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "685bdd4e70c03c9f",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 15 registres bureau 4",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "302",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 2060,
        "wires": [
            [
                "bae60e6aaebbfc08"
            ],
            []
        ]
    },
    {
        "id": "f7777d675b301529",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2340,
        "wires": [
            [
                "eef9c5c9651e131f"
            ],
            [
                "5aa8c0f154b8dfc2"
            ],
            [
                "e21e43564f31182d"
            ],
            [
                "a5e38983fc9810f0"
            ],
            [
                "b2efaecce5b14471"
            ],
            [
                "7953323b50f91297"
            ]
        ]
    },
    {
        "id": "eef9c5c9651e131f",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Marche Clim Bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "54",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5aa8c0f154b8dfc2",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Mode Clim Bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "55",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e21e43564f31182d",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne Clim Bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "56",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 2360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a5e38983fc9810f0",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ventil Clim Bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "57",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 2400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b2efaecce5b14471",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne mini Clim Bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "58",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 2440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7953323b50f91297",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Temp reprise Clim Bureau 5",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "59",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 2480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "20423e8e31ca6f8f",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 15 registres bureau 5",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "327",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 2340,
        "wires": [
            [
                "f7777d675b301529"
            ],
            []
        ]
    },
    {
        "id": "45b8ce4faf124471",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "name": "Mode eclairage Bureau 1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "11",
        "quantity": "1",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 710,
        "y": 420,
        "wires": [
            [
                "5e66425d93acfeb1"
            ],
            []
        ]
    },
    {
        "id": "5e66425d93acfeb1",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/9",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Mode eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 980,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "208c652b9715e4f1",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "name": "Mode eclairage Bureau 2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "21",
        "quantity": "1",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "d58ea6726f1def0a"
            ],
            []
        ]
    },
    {
        "id": "d58ea6726f1def0a",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/15",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Mode eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 980,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "236bb234a54e3388",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "name": "Mode eclairage Bureau 3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "31",
        "quantity": "1",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 710,
        "y": 780,
        "wires": [
            [
                "67cf6b566bfa3066"
            ],
            []
        ]
    },
    {
        "id": "67cf6b566bfa3066",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/20",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Mode eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 980,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd0cb5d2a37cd20",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "name": "Mode eclairage Bureau 4",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "41",
        "quantity": "1",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 710,
        "y": 960,
        "wires": [
            [
                "33c4b812e8b9c360"
            ],
            []
        ]
    },
    {
        "id": "33c4b812e8b9c360",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/25",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Mode eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 980,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "ed0883bf9880eb26",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "name": "Mode eclairage Bureau 5",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "51",
        "quantity": "1",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "247636eb43d0af05",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "f0b2b0dd1cdb41dc"
            ],
            []
        ]
    },
    {
        "id": "f0b2b0dd1cdb41dc",
        "type": "knxUltimate",
        "z": "eb0c2330629d9ddf",
        "d": true,
        "server": "dc1f53e2fc56ad70",
        "topic": "6/7/30",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "Mode eclairage",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "x": 980,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "5bde571526566ea1",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1520,
        "wires": [
            [
                "ad16b529859c5327"
            ],
            [
                "8cceb86482ce3c3b"
            ],
            [
                "f5bf7f62320c3302"
            ],
            [
                "459f90f5ac9cbc56"
            ],
            [
                "86048993e4f252f1"
            ],
            [
                "cd2d840d6e15bee5"
            ]
        ]
    },
    {
        "id": "ad16b529859c5327",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Marche Clim Bureau 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "24",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8cceb86482ce3c3b",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Mode Clim Bureau2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "25",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f5bf7f62320c3302",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne Clim Bureau 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "26",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 1540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "459f90f5ac9cbc56",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ventil Clim Bureau 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "27",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "86048993e4f252f1",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne mini Clim Bureau 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "28",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 1620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cd2d840d6e15bee5",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Temp reprise Clim Bureau 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "29",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 1660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "88cac85a19da55e3",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 15 registres bureau 2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "877",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1520,
        "wires": [
            [
                "5bde571526566ea1"
            ],
            []
        ]
    },
    {
        "id": "dafab51fce16c0c6",
        "type": "function",
        "z": "eb0c2330629d9ddf",
        "name": "Découper registres modbus",
        "func": "let registers = msg.payload;\n\nlet msg1 = {\n    payload: registers[0],  // valeur 1\n};\nlet msg2 = {\n    payload: registers[1],  // valeur 2\n};\nlet msg3 = {\n    payload: registers[2],  // valeur 3\n};\nlet msg4 = {\n    payload: registers[3],  // valeur 4\n};\nlet msg5 = {\n    payload: registers[4],  // valeur 5\n};\nlet msg6 = {\n    payload: registers[14],  // valeur 6\n};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1260,
        "wires": [
            [
                "39cd33183636998e"
            ],
            [
                "45feb960a2672471"
            ],
            [
                "d454c2858f916723"
            ],
            [
                "e67ba31cd453f12e"
            ],
            [
                "f7534c82dcf7e14a"
            ],
            [
                "a898a22f381e0bc0"
            ]
        ]
    },
    {
        "id": "39cd33183636998e",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Marche Clim Bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "45feb960a2672471",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Mode Clim Bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d454c2858f916723",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne Clim Bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "16",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 1280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e67ba31cd453f12e",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ventil Clim Bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "17",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f7534c82dcf7e14a",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Consigne mini Clim Bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 1360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a898a22f381e0bc0",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Temp reprise Clim Bureau 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "19",
        "quantity": "1",
        "server": "247636eb43d0af05",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 1400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5817d52e3f34dcae",
        "type": "modbus-read",
        "z": "eb0c2330629d9ddf",
        "name": "Lecture Modbus 15 registres bureau 1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "127",
        "quantity": "15",
        "rate": "4000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b6c58d9a505c9baa",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "dafab51fce16c0c6"
            ],
            []
        ]
    },
    {
        "id": "a7a88ef6cce7e54a",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ecriture adresses 127",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "127",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 900,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0e4edf681ffc4c1a",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ecriture adresses 877",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "877",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 900,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ecbfdb17cdb62c38",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ecriture adresses 227",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "227",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 900,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4b00ae7da45c959f",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ecriture adresses 302",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "302",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 900,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "76e0e582cf04a7c3",
        "type": "modbus-write",
        "z": "eb0c2330629d9ddf",
        "name": "Ecriture adresses 327",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "327",
        "quantity": "1",
        "server": "b6c58d9a505c9baa",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "10",
        "x": 900,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "247636eb43d0af05",
        "type": "modbus-client",
        "name": "Serveur modbus passerelle",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "1502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "dc1f53e2fc56ad70",
        "type": "knxUltimate-config",
        "host": "10.249.4.182",
        "port": 3671,
        "physAddr": "1.1.200",
        "hostProtocol": "TunnelUDP",
        "suppressACKRequest": true,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "stopETSImportIfNoDatapoint": "fake",
        "loglevel": "error",
        "name": "KNX Gateway",
        "localEchoInTunneling": true,
        "delaybetweentelegrams": 25,
        "ignoreTelegramsWithRepeatedFlag": false,
        "autoReconnect": "yes"
    },
    {
        "id": "b6c58d9a505c9baa",
        "type": "modbus-client",
        "name": "Passerelle clim Gree",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.249.4.181",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "96819a67f4dc1a1a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.43.0",
            "node-red-contrib-knx-ultimate": "3.3.40"
        }
    }
]
